.grid {
	display: grid;
	gap: 1rem;
}

@media (min-width: 845px) {
	.grid {
		grid-template-columns: 2fr 2fr 2fr;
	}
	.card {
		&:nth-child(2) {
			grid-column: 3;
		}
		&:nth-child(4) {
			grid-column: 3;
		}
	}
}

@media (max-width: 844px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
