#heading {
	#title {
		font-family: "Londrina Sketch";
		width: 90vw;
		margin: 0;
		text-align: center;
		color: #efefef;
		font-size: 4rem;
		font-style: italic;
		text-decoration: underline;
		margin-inline: 5vw;
	}
}
