@import "./body";
@import "./fonts";

.bg-container {
	overflow: hidden;
	pointer-events: none;
	background-image: url(../assets/bg1.jpg);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	#title {
		font-family: "Sixtyfour Convergence";
		position: absolute;
		text-align: center;
		width: 100%;
	}
}
