.open {
	height: 65vh;
	width: 90vw;
	margin-inline: auto;
	margin-block-start: 5vh;
	background-color: #eee;
	opacity: 50%;
	border-radius: 1em;
	padding: 0.5rem;
	text-align: center;
	text-transform: capitalize;
	overflow-y: scroll;
	margin-block-end: 1rem;

	i {
		position: absolute;
		top: 8rem;
		right: 5vw;
		font-size: 1.5rem;
		&:hover {
			cursor: pointer;
		}
	}

	h1 {
		height: 4rem;
		position: absolute;
		top: -1rem;
		font-family: Pacifico;
		font-size: 3.5rem;
		font-style: italic;
		text-decoration: underline;
	}
	p {
		font-family: poppins;
		font-size: 1.5rem;
		a {
			color: #2a1b8f;
			&:hover {
				color: #000;
			}
		}
	}
	span {
		h2 {
			text-decoration: underline red double;
			font-family: "Montserrat";
			font-style: italic;
			font-size: 2rem;
		}
	}
}

@media (max-width: 429px) {
	.open {
		h1 {
			position: absolute;
			top: 4rem;
		}
		i {
			position: absolute;
			top: 12rem;
			right: 1.5rem;
		}
	}

	.bst {
		h1 {
			font-size: 3rem !important;
			position: absolute !important;
			top: 5rem !important;
		}
	}
}
@media (max-width: 371px) {
	.bst {
		span {
			position: relative;
			top: 4rem;
		}
	}
}
